
@using System.Configuration;
@using System.ComponentModel.DataAnnotations;
@using System.Web.Mvc;
@using System.Linq;

@using RockCandy.Web.Framework.Core.Models;
@using RockCandy.Web.Framework.Core.Enumerations;
@using Saraf365.Core;
@using Saraf365.Core.Repositories;
@using Saraf365.Core.Enumerations;
@using RockCandy.Web.Framework.Utilities;
@using RockCandy.Web.Framework.Utilities.Encryption;
@using Saraf365.Backoffice.DomainUtils;


@{
    ViewBag.Title = "InsertRender";
    Layout = "~/Views/PanelMaster.cshtml";

    string queryString = ViewBag.queryString;
    long xID = Convert.ToInt64(ViewBag.xID);

    ScheduleMessageRepository kr = new ScheduleMessageRepository();
    ScheduleMessage instance = kr.GetByID(xID);
}

<ol class="breadcrumb">
    <li><a href="/Profile">صفحه اصلی</a></li>
    <li><a href="/ScheduleMessage/Index?@queryString">مدیریت پیام های زمانبندی شده</a></li>
    <li class="active">ویرایش</li>
</ol>
<div id="content">
    <section class="panel">
        <header class="panel-heading md" data-color="theme-inverse" style="background-color: rgb(10, 166, 153);">
            <h3 style="color: rgb(255, 255, 255);"><strong>ویرایش</strong></h3>
        </header>
        <div class="panel-body" style="direction:rtl;">
            @Html.Partial("~/Views/Partial/Uploader.cshtml")
            <div class="form-group clearfix">
                <form id="form-update" data-parsley-validate>
                    <input class="form-control" type="hidden" name="xID" id="xID" value="@MD5Encryption.Encrypt(xID.ToString(), true,SectionInfo.Setting.SecurityKey)">
                    <div class="form-group clearfix">
                        <label class="control-label col-md-1 pull-right" style="text-align: right;font-size:18px;">&nbsp تصویر</label>
                        <div class="col-md-11">
                            <select class='selectpicker form-control' title='عکس' id='xSystemFileID' name='xSystemFileID' livesearch="true">
                                @using (SystemFileRepository sfr = new SystemFileRepository())
                                {
                                    foreach (var item in sfr.GetAll().OrderByDescending(x => x.xID))
                                    {
                                        <option value='@item.xID'>@item.xFileName</option>
                                    }
                                }
                            </select>
                        </div>

                    </div>


                    <div class="form-group clearfix">
                        <label class="control-label col-md-1 pull-right" style="text-align: right;font-size:18px;">&nbsp عنوان</label>
                        <div class="col-md-11">
                            <input class="form-control" type="text" name="xTitle" id="xTitle" data-trigger="change" value="@instance.xTitle">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-1 pull-right" style="text-align: right;font-size:18px;">&nbsp پیام</label>
                        <div class="col-md-11">
                            <input class="form-control" type="text" name="xBody" id="xBody" data-trigger="change" value="@instance.xBody">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-1 pull-right" style="text-align: right;font-size:18px;">&nbsp زمانبندی</label>
                        <div class="col-md-11">
                            <input class="form-control" type="text" name="xExpression" id="xExpression" data-trigger="change" value="@instance.xExpression">
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-1 pull-right" style="text-align: right;font-size:18px;">&nbsp فعال</label>
                        <div class="col-md-11">
                            <input class="form-control" type="checkbox" id="xIsActive" name="xIsActive" value="true" style="float:right;width:30px;" @(instance.xIsActive == true ? "checked" : "")>
                        </div>
                    </div>


                    <div class="form-group clearfix">
                        <div class="col-md-12">
                            <button type="button" id="UpdateConfirm" class="btn btn-success">ذخیره</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<div id="md-UpdateConfrim" class="modal fade" tabindex="-1" data-width="450" data-header-color="inverse">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">تایید ذخیره</h4>
    </div>
    <!-- //modal-header-->
    <div class="modal-body">
        <p>برای ذخیره رکورد بر روی دکمه تایید کلیک کنید.</p>
        <button id="Update" OnClick="Update()" type="button" class="btn btn-success">تایید</button>
    </div>
    <!-- //modal-body-->
</div>


<script type="text/javascript">

    @functions{
            public string TokenHeaderValue()
            {
                string cookieToken, formToken;
                AntiForgery.GetTokens(null, out cookieToken, out formToken);
                return cookieToken + ":" + formToken;
            }
        }
    var TokenHeaderValue = '@TokenHeaderValue()';

    $(document).ready(function () {

        $('.selectpicker').selectpicker();

        @if(instance.xSystemFileID != null)
        {
            @:$('#xSystemFileID').val(@instance.xSystemFileID);
        }
        $('.selectpicker').change();
        $("#form-update").parsley();

        $("#UpdateConfirm").click(function (event) {
            event.preventDefault();
            var data = $(this).data();
            $("#md-UpdateConfrim").attr('class', 'modal fade').addClass(data.effect).modal('show')
        });


    });
    function Update()
    {
        if($("#form-update").parsley().validate())
        {
            $.ajax({
                type: "POST",
                headers: {
                    'RequestVerificationToken': '@TokenHeaderValue()'
                },
                contentType: "application/json; charset=utf-8",
                url: '/ScheduleMessage/Update',
                data: JSON.stringify($("#form-update").serializeToJSON()),
                dataType: "json",
                success: function (response) {
                    if (response.Status == true) {
                        $.notific8(response.Message, { life: 5000, horizontalEdge: "top", theme: "success" });
                        setTimeout("window.location.href = '/ScheduleMessage/Index'",1000);

                    }
                    else {
                        $.notific8(response.Message, { life: 5000, horizontalEdge: "top", theme: "danger" });
                    }
                },
                statusCode: { 404: ajaxError_404, 505: ajaxError_505 }, error: ajaxError_error
            });
        }
    }
</script>
@{
    kr.Dispose();
}